@tailwind base;
@tailwind components;

@layer base {
	* {
		@apply font-poppins;
	}

	.light {
		@apply bg-light;
	}
	.light * {
		@apply text-light-font;
	}

	.dark {
		@apply bg-dark;
	}
	.dark * {
		@apply text-dark-font;
	}
}

h1 {
	@apply text-4xl sm:text-7xl font-semibold sm:font-bold;
}
h2 {
	@apply text-xl sm:text-3xl font-semibold;
}
p {
	@apply text-sm font-light sm:text-xl;
}

.btn-primary {
	@apply px-4 py-2 border border-dark dark:border-light text-light-font dark:text-dark-font hover:bg-dark hover:text-light dark:hover:bg-light dark:hover:text-dark rounded;
}

.input-text {
	@apply px-4 py-2 text-dark border border-dark dark:border-light rounded shadow dark:shadow-light resize-none focus:outline-dark;
}
.border-error {
	@apply border-red-400 focus:outline-red-400 !important;
}

.shadow-theme {
	@apply shadow-lg dark:shadow-gray-500;
}
.shadow-theme-hover {
	@apply hover:shadow-lg dark:hover:shadow-gray-500;
}

.fill-theme {
	@apply fill-light-accent dark:fill-dark-accent !important;
}
.fill-theme-hover {
	@apply hover:fill-light-accent dark:hover:fill-dark-accent !important;
}

.noScrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.noScrollbar::-webkit-scrollbar {
	display: none;
}
@tailwind utilities;
